{
    "mode": "hotspot",
    "network": {
        "ssid": "NadiaSuite",
        "mode": 2,
        "key_mgmt": "WPA-PSK",
        "psk": "YouNeedToChangeNadia",
        "frequency": 2437
    },
    "dhcpcd": {
        "interface": "wlan0",
        "ip_address": "192.168.4.1/24",
        "nohook": "wpa_supplicant"
    }
}